h1
/*Make big top text centered*/

    {
    text-align: center;
}


/*Removing options I dont need
Source: https://stackoverflow.com/questions/2599627/how-to-select-label-for-xyz-in-css (was having trouble with selector for label)
*/

label[for="lang"],
#lang,
#width,
label[for="width"],
#celestial-date,
#general span,
#projection,
#transform,
label[for="projection"],
label[for="transform"],
#centerx,
#centery,
#centerz,
label[for="centerx"],
label[for="centerz"],
label[for="orientationfixed"],
#orientationfixed,
label.advanced {
    display: none;
}

/*add some space between map and bottom form with options */
#celestial-form {
    padding-top: 1em;
}

body {
    overflow-x: hidden;
}