@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');


h1
/*Make big top text centered*/

    {
    text-align: center;
    font-family: "Playfair Display";
}

/*Removing options I dont need
Source: https://stackoverflow.com/questions/2599627/how-to-select-label-for-xyz-in-css (was having trouble with selector for label)
*/
label[for="lang"],
#lang,
#width,
label[for="width"],
#general span,
#projection,
#transform,
label[for="projection"],
label[for="transform"],
#centerx,
#centery,
#centerz,
label[for="centerx"],
label[for="centerz"],
label[for="orientationfixed"],
#orientationfixed,
label.advanced,
#day-left,
#day-right,
#horizon-show,
#daylight-show,
label[for="daylight-show"],
label[for="horizon-show"],
label.header {
    display: none;
}

/*add some space between map and bottom form with options */
#celestial-form {
    padding-top: 1em;
}

body {
    overflow-x: hidden;
}

/*unordered list so the grouping of links in nav bar*/

ul {
    padding-top: 1em;
    padding-bottom: 0em;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 3em;
    font-family: "quicksand";
    gap: 35em;
}

/*list item with link*/
li a {
    text-decoration: none;
    color: rgb(97, 96, 96);
}

/*header includes h1 and nav bar*/
header {
    margin-bottom: 1em;
}

/*text for learn more*/
.current a {
    padding: 0.9em;
    color: black;
    margin-left: 20em;
    font-weight: 500;
}

/*line under explore map*/
#firsthr {
    background-color: rgb(52, 51, 51);
    width: 49%;
    height: 0.05em;
    margin-left: 0.05em;
    display: inline-block;
    border: rgb(52, 51, 51) solid 0.05em;
}

/*line under learn more*/
#secondhr {
    background-color: rgb(190, 191, 196);
    width: 50%;
    height: 0.05em;
    display: inline-block;
    border: rgb(190, 191, 196) solid 0.05em;
}

/*making the options under the map look nicer*/

/*Zoom controls*/
/*add space from left end of page*/
#celestial-zoomin {
    margin-left: 1.8em;
}

/*change colour, removed border*/
#celestial-zoomin,
#celestial-zoomout {
    background-color: rgb(190, 191, 196);
    border: none;
}

/*add space between zoom buttons*/
#celestial-zoomout {
    margin-left: 0.1em;
}

/*General spacing and font change*/
#celestial-form {
    padding: 1.5em;
    margin-top: 1em;
    font-family: "quicksand";
}

/*space between longitude and text*/
#lon {
    margin-left: 0.5em;
}

/* spacing for latitude and text*/
#lat {
    margin-left: 0.5em;
}

/*made changes to button, made black added some spacing, made text white , changed font removed border*/
#here {
    margin-left: 0.5em;
    padding: 0.15em 0.5em;
    color: white;
    background-color: black;
    font-family: "Quicksand";
    border: none;
}

/*Changed this button to match previous and moved*/
#now {
    padding: 0.15em 0.5em;
    color: white;
    background-color: black;
    font-family: "Quicksand";
    border: none;
}

/*for some reason the calender was vertical, had to make it inline added some spacing and center text*/
#celestial-date .date {
    display: inline-block;
    width: 1.58em;
    padding: 0.1em 0.1em 0.1em 0.1em;
    text-align: center;
}

/*add space between as and with for the little selection box as well as with and names from the language box*/
#planets-symbolType,
#planets-namesType {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

/*space between show and input*/
#constellation {
    margin-left: 0.1em;
}

/*From the javascript library, reapplied since it wasnt working*/
#celestial-date {
    position: absolute;
    top: -9999px;
    width: 182px;
    text-align: center;
    border: 1px solid #000;
    background: #fff;
    opacity: 0;
    transition: .6s ease-in opacity;
    font: 13px/1 sans-serif;
}

/*change input fonts*/
#datetime,
#planets-symbolType,
#planets-namesType,
#constellation,
#constellations-namesType {
    font-family: "quicksand";
}

footer {
    text-align: center;
    background-color: rgb(190, 191, 196);
    color: black;
    margin: -1em;
    margin-top: 0.5em;
    padding: 0.2em;
    font-family: "quicksand";
}